.site-header { display: grid; @include justify-content(); padding: 0 20px; text-align: center; 
    .site-header-wrapper { position: relative; overflow: hidden; background: var(--main-color); padding: 10px 17px 20px 25px; border-radius: 0 0 5px 5px; text-decoration: none; @include transition(background .2s ease);
        &:before { position: absolute; top: 0; left: -150%; content: ""; width: 50%; height: 100%;
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .3) 100%);
            @include skew(-45deg, 0);
        }
        &:hover { background: var(--main-color-hover);
            &:before { animation: headerShine .35s; }
        }
        .site-logo { display: block; margin: 0 0 10px;
            img { display: block; }
        }
        .site-subtitle { display: block; letter-spacing: .10rem; font-size: .9rem; font-family: 'Bebas Neue', sans-serif; font-size: 11px; line-height: 14px; color: var(--grey-fc); }
        .site-title { display: block; font-family: 'Bebas Neue', sans-serif; font-size: 26px; line-height: 28px; color: var(--grey-fc); }
    }
}

@media screen and (max-width: 800px) {
    .site-header { position: fixed; left: 0; top: 0; width: 100%; z-index: 9; background: var(--body-bg); box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
        .site-header-wrapper { @include flexbox(); @include align-items(); @include justify-content(); @include flex-flow(row wrap); gap: 0 15px; border-radius: 0; padding: 20px; background: transparent;
            &:hover { background: transparent; }
            .site-logo, .site-subtitle { display: none; }
            .site-title { font-size: 32px; line-height: 36px; color: var(--main-color); }
        }
    }
}